################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea/.idea.v4posme_maui/.idea
/Posme.Maui/obj
/Posme.Maui/bin/Debug/net8.0-android
/Posme.Maui/bin/Debug/net8.0-ios
/Posme.Maui/bin/Debug
/PosMe.Aab
/Posme.Maui/bin/Release
/Posme.Maui/bin/Debug/net8.0-android34.0/Posme.Maui.dll
/Posme.Maui/bin/Debug/net8.0-android34.0/com.v4posme.app.apk
/Posme.Maui/bin/Debug/net8.0-android34.0/com.v4posme.app-Signed.apk
/Posme.Maui/bin/Debug/net8.0-android34.0/com.v4posme.app-Signed.apk.idsig
/Posme.Maui/bin/Debug/net8.0-android34.0/com.v4posme.app-Signed.apk
/Posme.Maui/bin/Debug/net8.0-android34.0/com.v4posme.app-Signed.apk.idsig
/Posme.Maui/bin/Debug/net8.0-android34.0/com.v4posme.app.apk
