################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea/.idea.v4posme_maui/.idea
/Posme.Maui/obj
/Posme.Maui/bin/Debug/net8.0-android
/Posme.Maui/bin/Debug/net8.0-ios
